.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

.logo-icon{
    font-size:32px;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}